.bg-nav{
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    background: #fff;
    z-index: 1000;
}
.navbar .navbar-brand{
    color: #0f056b;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
      color: #666;
      font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover{
      color: #fff;
      border-radius: 5px;
}
.navbar-text{
    color: #666;
    font-weight: bold;
}
.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    padding-bottom: 60px;
    padding-top: 10px;
}
.red-icon{
    color: red;
    cursor: pointer;
}
label{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    display: inline;
}
.form-horizontal.col-md-6{
    margin: auto;
}
.col-sm-10{
  width: 100%;
}
h4{
  padding-bottom: 20px;
}